<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>api.UploadServlet</servlet-class>
	</servlet>
  
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>api.ServeServlet</servlet-class>
	</servlet>
  
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>api.DeleteServlet</servlet-class>
	</servlet>
  
	<servlet>
		<servlet-name>List</servlet-name>
		<servlet-class>api.ListServlet</servlet-class>
	</servlet>
  
	<servlet>
		<servlet-name>Post</servlet-name>
		<jsp-file>post.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Wami</servlet-name>
		<jsp-file>wami.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Read</servlet-name>
		<servlet-class>api.ReadServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AssociateInfo</servlet-name>
		<servlet-class>api.AssociateInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Wami</servlet-name>
		<url-pattern>/record</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Read</servlet-name>
		<url-pattern>/read</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AssociateInfo</servlet-name>
		<url-pattern>/associate</url-pattern>
	</servlet-mapping>
	
</web-app>
